.header {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: $color-default-white;

  @include viewport--md {
    height: 74px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.header__logo {
  position: relative;
  z-index: 200;
  margin-right: 20px;
}
