<div class="loader-display loader-display--show">
  <div class="loader-display__wrapper">
    @@include("source/html/components/logo.html", { "logo-width": "800",
    "logo-height": "100" })
    <button class="loader-display__btn" type="button" aria-label="Кликните на экран или нажмите на Enter, чтобы разблокировать экран">
    </button>
      <span class="loader-display__text hidden-desktop">Кликните на экран</span>
      <span class="loader-display__text hidden-mobile">Нажмите на Enter</span>
  </div>
</div>
